CURLING_MASTER_SECRET=replace_with_at_least_32_random_characters
CURLING_BIND_HOST=0.0.0.0
CURLING_BIND_PORT=8010
CURLING_PUBLIC_RELAY_HOST=47.123.6.127
CURLING_RELAY_PORT_MIN=40201
CURLING_RELAY_PORT_MAX=40300
CURLING_MAX_ROOMS=100
CURLING_LEASE_TIMEOUT_SECONDS=30
CURLING_TICKET_TTL_SECONDS=30
CURLING_PROTOCOL_VERSION=2
CURLING_RELAY_AUTOSTART=1
CURLING_GODOT_BINARY=/usr/local/bin/godot
CURLING_RELAY_PROJECT=/opt/battle-starfish-curling/relay_project
